<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>🥔 Hot Potato</title>
</head>
<body>
    <div class=TitleAndButton>
        <h1>
            Hot Potato
        </h1>
        <button style="vertical-align:middle">
            <span>
                Sign In 
            </span>
        </button>
    </div>
    <footer class=Footer>
        Made with oven MITs by Elizabeth &amp; Shreyas ❤️
    </footer>
</body>
</html>